<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span
                [class]="compare(letter, enteredText[i])"
                *ngFor="let letter of randomText.split(''); let i = index;">
          {{letter}}
        </span>
      </p>
      <div class="field">
        <input (input)="onUserInput($event)" type="text" class="input" />
      </div>
      <div class="box has-text-centered" *ngIf="isSuccess">
        <h2 class="title">You win!</h2>
      </div>
    </div>
  </div>
</div>
